@inherits LayoutComponentBase

<FluentLayout>
    <FluentStack Class="main" Orientation="@Orientation.Vertical" Width="100%">
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        <FluentMessageBarProvider Section="@App.MessageBarTop"/>
                        @Body
                        <FluentToastProvider/>
                        <FluentDialogProvider/>
                        <FluentTooltipProvider/>
                        <FluentMenuProvider/>
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>
